<ul class="list-group">
  <% let counter = 1; %>
  <!-- item in list -->
  <% data.forEach(word => { %>
  <li class="list-group-item">
    <div class="d-flex w-100 justify-content-between mb-0">
      <div class="d-flex justify-content-start word-title-group">
        <p class="dictionary-counter mr-2 mb-0"><%= counter %></p>
      <% counter++; %>
      <p class="mb-0 word-title"><b><%= word.hwi.hw %></b></p>
      </div>
      <!-- Save button -->
      <%if(isAuthenticated) {%>
      <form action="/user/add-word" method="POST">
        <input type="hidden" name="wordName" value="<%=word.hwi.hw%>" />
        <input type="hidden" name="uuid" value="<%=word.meta.uuid%>" />
        <input type="hidden" name="wordFunction" value="<%=word.fl%>" />
        <input type="hidden" name="definition" value="<%= JSON.stringify(word.shortdef)%>" />
        <button type="submit" name="save"  class="btn btn-save">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill save-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
        </button>
      </form>
      <% } %>
    </div>
    <% if( word.hwi.prs ) { %>
    <p class="word-pronunciation mb-0"><%= word.hwi.prs[0].mw %></p>
    <% } %>
    <small class="word-function"><%= word.fl %></small>
    <% word.shortdef.forEach(def => { %>
    <p class="mb-0"><%= def %></p>
    <br />
    <% }) %>
  </li>
  <% }) %>
</ul>
