<%- include('./includes/head.ejs') %>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles/dictionary.css">
</head>
<body>
    <%- include('./includes/navbar.ejs') %>
<div class="dictionary">

<% if (type === "error") { %>
<p><%= data%></p>
<% } else if (type === "words") { %>
<%- include('./includes/words.ejs') %>
<% } else if (type === "suggestion") {%>
<%- include('./includes/suggestion.ejs') %>
<% } else { %>
    <p>Start searching for a word.</p>
    <% } %>

</div>
        
<%- include('./includes/footer.ejs') %>