<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navbar.ejs') %>
    <ul class="list-group">
        <!-- item in list -->
        <% words.forEach(word => { %>
        <li class="list-group-item">
          <div class="d-flex w-100 justify-content-between mb-0 ">
            <div class="d-flex justify-content-start word-title-group">
            <p class="mb-0 word-title"><b><%= word.name %></b></p>
            </div>
             <!-- Delete button -->
      <%if(isAuthenticated) {%>
        <form action="/user/delete/<%=word.uuid%>" method="POST">
          <button type="submit" name="delete"  class="btn btn-delete">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle delete-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
              <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
            </svg>
          </button>
        </form>
        <% } %>
          </div>
          <small class="word-function"><%= word.fl %></small>
          <% word.def.forEach(d => { %>
          <p class="mb-0"><%= d %></p>
          <br />
          <% }) %>
        </li>
        <% }) %>
      </ul>
      
<%- include('./includes/footer.ejs') %>